*.png
*.txt
*.csv
*.bat

test_crops.py
load_and_save_images.py
draw_scale_pyramid.py
scale_big_images.py
analyze.ipynb

/__pycache__
/.idea/
/.ipynb_checkpoints/
/.mypy_cache/
/.vscode/
/graphics/
/saved_models/
/tmp/
